@import './variables';
@import './common';
@import './mixins';
@import './features';


#header{
    background-color: rgba(255, 195, 139, 0.05);
    .container-main::before{
        content: "";
        width: 55%;
        height: 39%;
        background-color: #FF926B;
        display: inline-block;
        position: absolute;
        z-index: -1;
        top: 0;
        right: -119px;
    }
    .container-main{
        position: relative;
        margin: 0 auto;
        padding-top: 40px;
        margin-bottom: 150px;
        .menu{
            display: flex;
            justify-content: space-between;
            margin-bottom: 226px;
            .icon{
                span{
                    @include font-style(34px,700,100%,#1F1F33)
                }
            }
            nav{
                ul{
                    li{
                        display: inline-block;
                        margin: 10px 50px 0 0;
                        a{
                            @include font-style(18px,500,100%,#1F1F33);
                        }
                    }
                    li:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        .information{
            position: relative;
            h1{
                @include font-style(52px,500,64px,#1F1F33);
                margin-bottom:30px;
            }
            p{
                @include font-style(20px,400,100%,#1F1F33);
                margin-bottom:50px;
            }
            a{
                @include font-style(18px,500,100%,white);
                background-color: #FF926B;
                padding: 17px 40px;
                border-radius: 5px;
                box-sizing: border-box;
                display: inline-block;
            }
            #downward-arrow{
                transform: translate(-96px,126px);
            }
            #main-img{
                position: absolute;
                top: -179px;
                right: -119px;
            }
        }
    }
}

.app{
    margin-top: 100px;
}

.app>.container-small{
    width: 980px;
    margin: auto;
}

.app>.container-small>.row > h1{
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: #1F1F33;
    font-size: 38px;
}

.app>.container-small>.row p{
    width: 100%;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    color: #1F1F33;
    font-size: 20px;
}

.app>.container-small>.row>.col-6{
    margin-top: 15px;
    width: calc(100%/12*6);
}

.app>.container-small>.row>.col-12{
    margin-top: 40px;
    width: calc(100%/12*12);
}

.app>.container-small>.row>.col-6>.finance{
    margin-top: 40px;
    display: flex;
    position: relative;
    z-index: 2;
}

.app>.container-small>.row>.col-6>.finance>.details{
    position: absolute;
    z-index: 3;
    height: 115px;
    margin-top: 60px;
    padding: 0px 40px 0px 40px;
}

.app>.container-small>.row>.col-6>.finance>.details h1{
    text-align: start;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}

.app>.container-small>.row>.col-6>.finance>.details p{
    text-align: start;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 28px;
}

.app>.container-small>.row>.col-6>.finance>.details span{
    text-align: start;
    text-decoration: underline;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.app>.container-small>.row>.col-6>.currency{
    margin-top: 40px;
    display: flex;
    position: relative;
    z-index: 2;
}

.app>.container-small>.row>.col-6>.currency>.details{
    position: absolute;
    z-index: 5;
    height: 115px;
    margin-top: 60px;
    padding: 0px 40px 0px 40px;
}

.app>.container-small>.row>.col-6>.currency>.details h1{
    text-align: start;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}

.app>.container-small>.row>.col-6>.currency>.details p{
    text-align: start;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 28px;
}

.app>.container-small>.row>.col-6>.currency>.details span{
    text-align: start;
    text-decoration: underline;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.app>.container-small>.row>.col-12>.email{
    margin-top: 40px;
    display: flex;
    position: relative;
    z-index: 2;
}

.app>.container-small>.row>.col-12>.email>.details{
    position: absolute;
    height: 300px;
    z-index: 3;
    width: 500px;
    padding: 0px 0px 0px 70px;
    padding-top: 140px;
}

.app>.container-small>.row>.col-12>.email>.details h1{
    text-align: start;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}

.app>.container-small>.row>.col-12>.email>.details p{
    text-align: start;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 28px;
}

.app>.container-small>.row>.col-12>.email>.details span{
    text-align: start;
    text-decoration: underline;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

#container-sm {
    margin: auto;
    > div {
        display: inline-block;
        padding-right: 168px;
        margin-top: 80px;
        box-sizing: border-box;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            transition: 0.1;
            transform: scale(1.10);
        }
        > h1 {
            font-size: 32px;
            font-weight: bold;
            color: #eb6383;
            margin-top: 17px;
        }
        > p {
            margin-top: 10px;
        }
    }
    > #last {
        padding-right: 0;
    }
}

#container-md {
    > #my-carousel {
        background: rgba(235, 99, 131, 0.15);
        border-radius: 10px;
        margin-top: 60px;
        > div {
            text-align: center;
            .slider-image {
                padding-top: 50px;
                width: 100px;
                margin: auto;
                margin-bottom: 40px;
            }
            p {
                font-weight: bold;
                font-size: 21px;
                line-height: 30px;
                text-align: center;
                font-weight: bold;
                padding: 0 150px 0 150px;
            }
            span {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                margin-bottom: 45px;
            }
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.row-footer-t {
    border-bottom: 2px solid rgba(255, 255, 255, 0.03);
    padding-bottom: 50px;
    padding-top: 120px;
}
.row-footer-m {
    padding-bottom: 111px;
    padding-top: 120px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.03);
}
.col-6 {
    width: 50%;
}
.col-4 {
    width: calc(100% / 3);
}
.container-footer {
    width: 100%;
    background-color: #001430;
    margin-top: 120px;
}
.f-title {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    color: #ffffff;
    text-align: right;
}
.m-title {
    padding-bottom: 30px;
    font-size: 24px;
    color: #ffffff;
}
.m-sub {
    font-size: 14px;
    color: #ffffff;
    padding-top: 20px;
}
.m-email {
    font-size: 16px;
    color: #000;
    padding-bottom: 10px;
    background-color: none;
    outline: none;
}

.m-but {
    margin-left: 35px;
    color: #ff926b;
    display: inline-block;
    // background-color: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.contact h2,
.enquires h2,
.follow h2,
.address h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    padding-bottom: 20px;
}
.contact p,
.enquires p,
.address p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
}
.contact,
.enquires {
    margin-bottom: 50px;
}
.p-center {
    padding-left: 178px;
}
.follow {
    border-bottom: 2px solid #001430;
}
.all-right,
.all-left {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.5);
}
.all-left {
    text-align: right;
}
.all-left span {
    padding-left: 10px;
}